@media (max-width: 1100px) {
    .banner .banner-content h1 {
        font-weight: 600;
        font-size: 1.6rem;
        text-transform: uppercase;
        background-clip: text;
        color: black;
        text-align: center;
    }

    section.s-modules .modules-list .module {
        width: 200px;
    }

    .s-about {
        width: 60%;
    }

    .s-about .wrapper .text {
        width: 80%;
    }

 }


@media (max-width: 850px) {
    .banner .img {
        display: none;
    }

    .banner .banner-content {
        margin: auto;
        margin-top: 24px;
    }

    .banner .banner-content p {
        padding: 12px 16px;
    }

    section.s-modules p {
        width: 90%;
    }

    .banner .banner-content p {
        width: 90%;
    }

    section.s-modules .modules-list .module {
        padding: 24px 8px;
    }

    #professional-challenges .container {
        width: 70%;

    }

    #professional-challenges .container .wrapper {
        padding: 24px;
        width: 100%;
    }
} 

@media (max-width: 650px) {


    .img-mobile {
        display: flex;
        width: 90%;
        border-radius: 12px;
        margin-top: 48px;
    }

    .banner p {
        max-width: 400px;
    }

    .banner .banner-content {
        gap: 32px;
    }

    section.s-modules .modules-list {
        display: flex;
        flex-direction: column;
    }

    section.s-modules .modules-list .module {
        width: 80%;
    }

    .s-about {
        width: 90%;
        height: 100vh;
    }

    #professional-challenges .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    #professional-challenges img {
        width: 80%;
    }

    #professional-challenges p {
        width: 90%;
    }

    #professional-challenges h2 {
        font-size: 24px;
    }

    #transform-world p {
        font-weight: 900;
        font-size: 2rem;
    }

    .s-about .wrapper .container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 90%;
        margin-top: 64px;
        margin: auto;
    }

    .s-about .wrapper .container h3 {
        margin-top: 48px;
        text-align: center;
    }

    .s-about .wrapper .container p {
        text-align: center;
    }

    .s-about .wrapper .container .img {
        margin: auto;
        margin-top: 56px;
        width: 280px;
        height: 300px;
    }

    #transform-world {
        background-image: url(../images/my-photo-5.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
        background-attachment: scroll;
        display: flex;
        position: relative;
    }

    #transform-world p {
        font-weight: 900;
        font-size: 2.5rem;
        text-shadow: 3px 2px #00f888a3;
        position: absolute;
        top: 30%;
        left: 20px;
    }

    .plan {
        width: 350px;
    }

    .plan .wrapper a {
        font-size: 16px;
    }

    footer img {
        width: 150px;
    }
    

} 

@media (max-width: 420px) {
    .banner .banner-content h1 {
        width: 92%;        
    }

    .banner .banner-content .logo {
        padding: 6px;
    }

    .banner .banner-content .logo img{
        width: 100px;
    }

    .banner .banner-content a {
        font-size: 16px;
    }
    
    .banner .banner-content h1 {
        font-size: 1.4rem;
    }

    section.s-modules h2 {
        font-size: 1.2rem;
    }

    #professional-challenges h2 {
        font-size: 1.2rem;
    }

    .s-about .wrapper .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 64px;
    }

    .s-about .wrapper .container p {
        max-width: 85%;
        margin: auto;
    }

    .s-about .wrapper .container .img {
        margin: auto;
        margin-top: 48px;
        width: 280px;
        height: 300px;
    }
    
    #questions h2 {
        font-size: 1.2rem;
    }

    #transform-world {
        padding: 200px 100px;
    }

    .plan {
        width: 300px;
    }

    .plan .wrapper a {
        font-size: 12px;
    }

    footer img {
        width: 150px;
    }

}

@media (max-width: 350px) {
    .banner .banner-content button {
        font-size: 16px;
    }
    
    .banner .banner-content h1 {
        font-size: 1.4rem;
    }

    section.s-modules .modules-list .module {
        padding: 24px 0;
    }
    
    section.s-modules h2 {
        font-size: 1.2rem;
    }

    #transform-world {
        padding: 200px 100px;
    }

    #professional-challenges h2 {
        font-size: 1.2rem;
    }
    #questions h2 {
        font-size: 1.2rem;
    }
}