* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    color: black;
}

section {
    margin: 100px auto;
}

a {
    text-decoration: none;
    color: blue;
}

.banner {
    display: flex;
}

.banner .img {
    width: 50%;
}

.banner .img img {
    width: 100%;
}

.banner .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.banner .banner-content .logo {
    display: flex;
    padding: 2px;
    border-radius: 50%;
    background: #3a3a3a;
    background: -webkit-linear-gradient(to right, #646464, #000000);
    background: linear-gradient(to right, #646464, #000000);
}

.banner .banner-content .logo img {
    width: 100px;
    border-radius: 50%;
}

.img-mobile {
    display: none;
}

.banner .banner-content h1 {
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;
    background-clip: text;
    color: black;
    text-align: center;
}

.banner .banner-content p {
    width: 80%;
    text-align: center;
    font-weight: 600;
    background-color: #d3c7c138;
    border-radius: 4px;
    padding: 8px 14px;
}

.banner .banner-content a {
    background: #141E30; 
    background: -webkit-linear-gradient(to right, #787878, #141E30);
    background: linear-gradient(to right, #787878, #141E30);
    color: #c2ada5;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 24px;
    padding: 16px 32px;
    border-radius: 4px;
    transition: 0.2s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.banner .banner-content a:hover {
    background-color: #000;
    transform: scale(1.1);
    transition: 0.3s;
}

section.s-modules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

section.s-modules h2 {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    background-clip: text;
    color: #000000;
    text-align: center;
}

section.s-modules p {
    width: 800px;
    font-weight: 600;
    text-align: center;
}

section.s-modules .modules-list {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

section.s-modules .modules-list .module {
    background: #EECDA3; 
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3); 
    background: linear-gradient(to right, #EF629F, #EECDA3);
    border-radius: 4px;
    text-align: center;
    margin: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 300px;
}

section.s-modules .modules-list .module h3 {
    color: #cf4424;
    font-size: 24px;
}

section.s-modules .modules-list .module p {
    width: 100%;
}

section.s-modules .modules-list .module img {
    width: 50px;
}

.s-about {
    width: 50%;
    height: 150vh;
    background-image: url(../images/my-photo-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 48px 0;
    display: flex;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.s-about .wrapper {
    margin: auto;
}

.s-about .wrapper h2 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin: 24px 0;
}

.s-about .wrapper .text {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 24px;
    gap: 16px;
    border-radius: 12px;
    background-color: #eecda372;
    color: black;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.s-about .wrapper .text p {
    font-weight: 600;
}

#professional-challenges {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: white;
    padding: 80px 0;
    background-color: #646464;
}

#professional-challenges .container {
    display: flex;
    width: 50%;
    gap: 16px;
}

#professional-challenges .container .wrapper {
    background-color: #d3c7c1;
    border-radius: 12px;
    padding: 24px;
    width: 50%;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: 16px;
}

#professional-challenges .container .wrapper img {
    width: 50px;
    margin: auto;
}

#professional-challenges h2 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
    text-align: center;
    color: #c39e84;
}

#professional-challenges p {
    text-align: center;
    max-width: 500px;
}

#professional-challenges p strong {
    color: #c39e84;
}

#professional-challenges h3 {
    color: #c39e84;
}

#professional-challenges ul {
    align-items: start;
    width: 40%;
}

#professional-challenges li {
    margin: 12px 0;
}

.plan {
    border: 1px solid white;
    width: 500px;
    border-radius: 8px;
    box-shadow: #000 0px 4px 16px 0px;
    background-color: #e2b89b;
    
}

.plan .wrapper {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.plan .wrapper .list {
    margin-bottom: 12px;
}

.plan .wrapper h3 {
    color: #000;
    text-align: center;
}

.plan .wrapper .list li {
    margin-top: 8px;
}

.plan .wrapper .price {
    margin: auto;

}

.plan .wrapper .price p {
    font-size: 24px;
    margin-bottom: 8px;
    text-align: center;
}

.plan .wrapper .btn-link {
    margin: 48px 0 32px 0;
}

.plan .wrapper a {
    background: #141E30; 
    background: -webkit-linear-gradient(to right, #787878, #141E30);
    background: linear-gradient(to right, #787878, #141E30);
    color: #000;
    text-transform: uppercase;
    font-size: 24px;
    padding: 16px 32px;
    border: 1px solid #000;
    transition: 0.2s;
    color: #c2ada5;
    font-weight: 600;
    text-transform: uppercase;
}

.plan .wrapper a:hover {
    color: white;
}


#questions {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#questions h2 {
    font-size: 1.6rem;
    color: #000;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
    text-align: center;  
}

#questions div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#questions div details {
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
}

#questions div details summary {
    cursor: pointer;
}

#questions div details p {
    margin-top: 16px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    text-align: center;
}

footer p {
    margin-top: 48px;
}