* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
    color: white;
}

section {
    margin: 100px auto;
}

a {
    text-decoration: none;
    color: blue;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(assets/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB80;
}

.banner .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.banner .banner-content .logo {
    margin-top: 48px;
    border-radius: 50%;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.188);
}

.banner .banner-content .logo img {
    width: 150px;
}

.banner .banner-content h1 {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
    background-clip: text;
    color: #33A8DB;
    text-align: center;
}

.banner .banner-content p {
    width: 600px;
    text-align: center;
    font-weight: 500;
}

.banner .banner-content button {
    background-color: transparent;
    color: #31A8DD;
    text-transform: uppercase;
    font-size: 24px;
    padding: 16px 32px;
    border: 1px solid #31A8DD;
    transition: 0.2s;
}

.banner .banner-content button:hover {
    background-color: #31a9dd2f;
}

section.s-modules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

section.s-modules h2 {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    background-clip: text;
    color: #33A8DB;
    text-align: center;
}

section.s-modules p {
    width: 800px;
    text-align: center;
}

section.s-modules .modules-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
}

section.s-modules .modules-list .module {
    background-color: #252525;
    border: 1px solid #33A8DB;
    border-radius: 24px;
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

section.s-modules .modules-list .module h3 {
    color: #33A8DB;
}

#transform-world {
    height: 200px;
    background-size: cover;
    background-image: url(../images/woman-code.png);
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
}

#transform-world p {
    font-weight: 900;
    font-size: 2.5rem;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
}

#professional-challenges {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#professional-challenges h2 {
    font-size: 2rem;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
    text-align: center;
}

#professional-challenges p {
    width: 700px;
    text-align: center;
}

#questions {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#questions h2 {
    font-size: 1.6rem;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
    text-align: center;  
}

#questions div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#questions div details {
    border-bottom: 1px solid #33A8DB;
    padding-bottom: 8px;
}

#questions div details summary {
    cursor: pointer;
}

#questions div details p {
    margin-top: 16px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33A8DB80;
}

footer a {
    color: #33A8DB;
    font-weight: bold;
}